swagger: '2.0'
schemes:
- http
- https
host: pandaserver.cern.ch
basePath: /api
info:
  title: PanDA API
  version: 1.0.0
  description: "\n### Protocol: we generally require communication over HTTPS. The\
    \ server will not accept HTTP requests unless explicitly mentioned.\n\n### HTTP\
    \ methods:\n* GET: Retrieve data from the server. Parameters have to be sent **in\
    \ the URL**. List parameters are passed by repeating the parameter name (e.g.\
    \ `?job_ids=1&job_ids=2`).\n```\nexport pandaurl=https://pandaserver.cern.ch:25443\n\
    \  curl --capath \"${X509_CERT_DIR}\"     --cert \"${X509_USER_PROXY}\"     --key\
    \ \"${X509_USER_PROXY}\"     \"${pandaurl}/api/v1/task/get_status?task_id=12345\"\
    \n```\n* PUT: Update data on the server. Parameters have to be sent **in the body**\
    \ in json encoded format. When the client wants to gzip the data, the content\
    \ encoding has to be set accordingly.\n```\nexport pandaurl=https://pandaserver.cern.ch:25443\n\
    curl --capath \"${X509_CERT_DIR}\"   --cert \"${X509_USER_PROXY}\"   --key \"\
    ${X509_USER_PROXY}\"   --json '{\"task_id\": 12345}'   \"${pandaurl}/api/v1/file_server/upload_file_recovery_request\"\
    \n```\n\n### Response formats: \nThe return codes are usually specified with each\
    \ API function, but in general:\n* 200: Function called correctly and response\
    \ will be `Content-type: application/json`. This does not necessarily mean that\
    \ the operation was successful, but that the function was called correctly.  \
    \   Reasons why the operation could fail are:\n    * Wrong parameters or the JSON\
    \ could not be decoded.\n    * The function was called using the wrong HTTP method\
    \ (e.g. GET instead of PUT).  \n    * The function expects authentication (certificate/token)\
    \ and it was not provided.\n    * The function expects production role and it\
    \ was not provided.\n    * Caught exceptions when interacting with the database.\n\
    \    \nThe usual response dictionary has the following format:\n```\n{ \"success\"\
    : True/False, \"message\": \"Usually an error when there was a failure. The message\
    \ can generally be ignored if the operation was successful.\", \"data\": \"The\
    \ data returned if the operation was successful.\" }\n```\n* 403: Forbidden. The\
    \ client called a forbidden function or there was an authentication issue. The\
    \ response will use `Content-type: text/plain`.\n* 500: Server crashed calling\
    \ the method. The response will use `Content-type: text/plain`.\n* 503: The server\
    \ is overloaded. The call did not reach PanDA and the response comes from directly\
    \ `httpd`. \n"
paths:
  /v1/creds/set_user_secrets:
    post:
      summary: Set user secrets
      description: 'Set a key-value pair to store in PanDA. Requires a secure connection.


        '
      tags:
      - credential_management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  description: Key to reference the secret
                value:
                  type: string
                  description: Value of the secret
              required:
              - key
              - value
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/creds/get_user_secrets:
    post:
      summary: Get user secrets
      description: 'Get the secrets for a user identified by a list of keys. Requires
        a secure connection.


        '
      tags:
      - credential_management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                keys:
                  type: array
                  description: List of keys to reference the secrets to retrieve
                  items:
                    type: string
              required: []
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/creds/get_key_pair:
    get:
      summary: Get key pair
      description: 'This function retrieves the distinguished name (DN) from the request
        and uses it to get a key pair. Requires a secure connection.


        '
      tags:
      - credential_management
      parameters:
      - name: public_key_name
        in: query
        required: true
        type: string
        description: The name of the public key.
      - name: private_key_name
        in: query
        required: true
        type: string
        description: The name of the private key.
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/creds/get_proxy:
    get:
      summary: Get proxy
      description: 'Get the x509 proxy certificate for a user with a role. Requires
        a secure connection.


        '
      tags:
      - credential_management
      parameters:
      - name: role
        in: query
        required: false
        type: string
        description: The role of the user. Defaults to None.
      - name: dn
        in: query
        required: false
        type: string
        description: The distinguished name of the user. Defaults to None.
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/creds/get_access_token:
    get:
      summary: Get access token
      description: 'Get the OAuth access token for the specified client. Requires
        a secure connection.


        '
      tags:
      - credential_management
      parameters:
      - name: client_name
        in: query
        required: true
        type: string
        description: client_name for the token as defined in token_cache_config
      - name: token_key
        in: query
        required: false
        type: string
        description: key to get the token from the token cache. Defaults to None.
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/creds/get_token_key:
    get:
      summary: Get token key
      description: 'This function retrieves the distinguished name (DN) from the request
        and uses it to get a token key for the specified client. Requires a secure
        connection.


        '
      tags:
      - credential_management
      parameters:
      - name: client_name
        in: query
        required: true
        type: string
        description: The name of the client requesting the token key
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/data_carousel/change_staging_destination:
    post:
      summary: Change destination of staging
      description: 'The current active staging request will be cancelled, and a new
        request will be created with the newly selected destination RSE, excluding
        the original destination.

        The requests can be specified by request_id or dataset (if both exist, request_id
        is taken).

        Requires a secure connection production role.


        '
      tags:
      - data_carousel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                request_id:
                  type: integer
                  description: request_id of the staging request, e.g. `123`
                dataset:
                  type: string
                  description: dataset name of the staging request in the format of
                    Rucio DID, e.g. `"mc20_13TeV:mc20_13TeV.700449.Sh_2211_Wtaunu_mW_120_ECMS_BFilter.merge.AOD.e8351_s3681_r13144_r13146_tid36179107_00"`
              required:
              - request_id
              - dataset
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/data_carousel/change_staging_source:
    post:
      summary: Change source of staging
      description: 'If the request is queued, its source_rse will be rechosen, excluding
        the original source.

        If the request is staging, the source_replica_expression of its DDM rule is
        unset so new source can be tried.

        Only effective on queued or staging requests.

        The requests can be specified by request_id or dataset (if both exist, request_id
        is taken).

        Requires a secure connection production role.


        '
      tags:
      - data_carousel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                request_id:
                  type: integer
                  description: request_id of the staging request, e.g. `123`
                dataset:
                  type: string
                  description: dataset name of the staging request in the format of
                    Rucio DID, e.g. `"mc20_13TeV:mc20_13TeV.700449.Sh_2211_Wtaunu_mW_120_ECMS_BFilter.merge.AOD.e8351_s3681_r13144_r13146_tid36179107_00"`
                cancel_fts:
                  type: boolean
                  description: whether to cancel current FTS requests on DDM, False
                    by default
                change_src_expr:
                  type: boolean
                  description: whether to change source_replica_expression of the
                    DDM rule by replacing old source with new one, instead of just
                    dropping old source
                source_rse:
                  type: string
                  description: if set, use this source RSE instead of choosing one
                    randomly, also force change_src_expr to be True; default is None
              required:
              - request_id
              - dataset
              - cancel_fts
              - change_src_expr
              - source_rse
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/data_carousel/force_to_staging:
    post:
      summary: Force to staging
      description: 'The request will skip the queue and go to staging immediately
        (will submit DDM rules).

        Only effective on queued requests.

        The requests can be specified by request_id or dataset (if both exist, request_id
        is taken).

        Requires a secure connection production role.


        '
      tags:
      - data_carousel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                request_id:
                  type: integer
                  description: request_id of the staging request, e.g. `123`
                dataset:
                  type: string
                  description: dataset name of the staging request in the format of
                    Rucio DID, e.g. `"mc20_13TeV:mc20_13TeV.700449.Sh_2211_Wtaunu_mW_120_ECMS_BFilter.merge.AOD.e8351_s3681_r13144_r13146_tid36179107_00"`
              required:
              - request_id
              - dataset
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/data_carousel/retire_unused:
    post:
      summary: Retire unused staging request
      description: 'If the request is done and has no related tasks, it can be retired
        to clean up the DDM rules and replicas.

        The requests can be specified by request_id or dataset (if both exist, request_id
        is taken).

        Requires a secure connection production role.


        '
      tags:
      - data_carousel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                request_id:
                  type: integer
                  description: request_id of the staging request, e.g. `123`
                dataset:
                  type: string
                  description: dataset name of the staging request in the format of
                    Rucio DID, e.g. `"mc20_13TeV:mc20_13TeV.700449.Sh_2211_Wtaunu_mW_120_ECMS_BFilter.merge.AOD.e8351_s3681_r13144_r13146_tid36179107_00"`
              required:
              - request_id
              - dataset
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/event/get_available_event_range_count:
    get:
      summary: Get available event range count
      description: 'This function returns the count of available event ranges for
        a given job_id, jobset_id, and task_id. Requires a secure connection and production
        role.


        '
      tags:
      - event
      parameters:
      - name: job_id
        in: query
        required: true
        type: integer
        description: PanDA job ID
      - name: jobset_id
        in: query
        required: true
        type: integer
        description: Jobset ID
      - name: task_id
        in: query
        required: true
        type: integer
        description: JEDI task ID
      - name: timeout
        in: query
        required: false
        type: integer
        description: The timeout value. Defaults to 60.
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/event/get_event_range_statuses:
    get:
      summary: Get event range statuses
      description: 'Gets a dictionary with the status of the event ranges for the
        given pairs of PanDA job IDs and JEDI task IDs. Requires a secure connection.


        '
      tags:
      - event
      parameters:
      - name: job_task_ids
        in: query
        required: true
        type: integer
        description: 'json encoded string with JEDI task ID + PanDA job ID pairs,
          in the format `[{"task_id": <task>, "job_id": <job>}, ...]`'
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/event/acquire_event_ranges:
    post:
      summary: Acquire event ranges
      description: 'Acquires a list of event ranges with a given PandaID for execution.
        Requires a secure connection and production role.


        '
      tags:
      - event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                job_id:
                  type: string
                  description: PanDa job ID.
                jobset_id:
                  type: string
                  description: Jobset ID.
                task_id:
                  type: integer
                  description: JEDI task ID. Defaults to None.
                n_ranges:
                  type: integer
                  description: The number of event ranges to retrieve. Defaults to
                    10.
                timeout:
                  type: integer
                  description: The timeout value. Defaults to 60.
                scattered:
                  type: boolean
                  description: Whether the event ranges are scattered. Defaults to
                    None.
                segment_id:
                  type: integer
                  description: The segment ID. Defaults to None.
              required:
              - job_id
              - jobset_id
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/event/update_single_event_range:
    post:
      summary: Update single event range
      description: 'Updates the status of a specific event range. Requires a secure
        connection and production role.


        '
      tags:
      - event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_range_id:
                  type: string
                  description: The ID of the event range to update.
                event_range_status:
                  type: string
                  description: The new status of the event range.
                core_count:
                  type: integer
                  description: The number of cores used. Defaults to None.
                cpu_consumption_time:
                  type: number
                  description: The CPU consumption time. Defaults to None.
                object_store_id:
                  type: integer
                  description: The object store ID. Defaults to None.
                timeout:
                  type: integer
                  description: The timeout value. Defaults to 60.
              required:
              - event_range_id
              - event_range_status
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/event/update_event_ranges:
    post:
      summary: Update event ranges
      description: 'Updates the event ranges in bulk. Requires a secure connection
        and production role.


        '
      tags:
      - event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_ranges:
                  type: string
                  description: JSON-encoded string containing the list of event ranges
                    to update.
                timeout:
                  type: integer
                  description: The timeout value. Defaults to 120.
                version:
                  type: integer
                  description: 'The version of the event ranges.  Defaults to 0.

                    Version 0: normal event service

                    Version 1: jumbo jobs with zip file support

                    Version 2: fine-grained processing where events can be updated
                    before being dispatched'
              required:
              - event_ranges
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/file_server/upload_jedi_log:
    post:
      summary: Upload a JEDI log file
      description: 'Uploads a JEDI log file and returns the URL to the file. If there
        is already a log file for the task, it will be overwritten. Requires a secure
        connection and production role.


        '
      tags:
      - file_server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: werkzeug.FileStorage object to be uploaded.
              required:
              - file
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/file_server/update_jedi_log:
    post:
      summary: Update a JEDI log file
      description: 'Updates a JEDI log file, appending more content at the end of
        the file. Requires a secure connection and production role.


        '
      tags:
      - file_server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: werkzeug.FileStorage object to be updated.
              required:
              - file
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/file_server/download_jedi_log:
    post:
      summary: Download JEDI log file
      description: 'Downloads the JEDI log file, if required at a particular offset.


        '
      tags:
      - file_server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                log_name:
                  type: string
                  description: log file name
                offset:
                  type: integer
                  description: offset in the file
              required:
              - log_name
              - offset
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/file_server/upload_cache_file:
    post:
      summary: Upload a cache file
      description: 'Uploads a file to the cache. When not touched, cache files are
        expired after some time.

        User caches will get registered in the PanDA database and will account towards
        user limits.

        PanDA log files will be stored in gzip format. Requires a secure connection.


        '
      tags:
      - file_server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: werkzeug.FileStorage object to be uploaded.
              required:
              - file
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/file_server/touch_cache_file:
    post:
      summary: Touch file in the cache directory.
      description: 'Touches a file in the cache directory. It avoids the file to expire
        and being deleted by server clean up processes. Requires a secure connection.


        '
      tags:
      - file_server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_name:
                  type: string
                  description: file name to be deleted
              required:
              - file_name
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/file_server/delete_cache_file:
    post:
      summary: Delete cache file
      description: 'Deletes a file from the cache directory. Currently a dummy method.
        Requires a secure connection.


        '
      tags:
      - file_server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_name:
                  type: string
                  description: file name to be deleted
              required:
              - file_name
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/file_server/register_cache_file:
    post:
      summary: Register cache file
      description: 'Registers a file from the cache directory into the PanDA database,
        so that PanDA knows the server it''s on. Requires a secure connection and
        production role.


        '
      tags:
      - file_server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_name:
                  type: string
                  description: user that uploaded the file
                file_name:
                  type: string
                  description: file name
                file_size:
                  type: integer
                  description: file size
                checksum:
                  type: string
                  description: checksum
              required:
              - user_name
              - file_name
              - file_size
              - checksum
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/file_server/validate_cache_file:
    post:
      summary: Validate cache file
      description: 'Validates a cache file owned by the caller by checking the file
        metadata that was registered in the database. Requires a secure connection.


        '
      tags:
      - file_server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_size:
                  type: integer
                  description: file size
                checksum:
                  type: integer
                  description: checksum
              required:
              - file_size
              - checksum
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/file_server/upload_hpo_checkpoint:
    post:
      summary: Upload a HPO checkpoint file
      description: 'Uploads a HPO checkpoint file to the server. Requires a secure
        connection.


        '
      tags:
      - file_server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: werkzeug.FileStorage object to be uploaded.
              required:
              - file
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/file_server/delete_hpo_checkpoint:
    post:
      summary: Delete a HPO checkpoint file.
      description: 'Deletes a HPO checkpoint file from the server. Requires a secure
        connection.


        '
      tags:
      - file_server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                task_id:
                  type: string
                  description: JEDI task ID
                sub_id:
                  type: string
                  description: sub ID.
              required:
              - task_id
              - sub_id
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/file_server/upload_file_recovery_request:
    post:
      summary: Upload file recovery request
      description: 'Upload request to recover lost files. Either task_id or dataset
        needs to be specified. Requires a secure connection.


        '
      tags:
      - file_server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                task_id:
                  type: integer
                  description: JEDI task ID. Either task_id or dataset must be provided.
                dry_run:
                  type: boolean
                  description: dry run flag.
                dataset:
                  type: string
                  description: the dataset name in which to recover files. Either
                    task_id or dataset must be provided.
                files:
                  type: array
                  description: list of file names to recover.
                  items:
                    type: string
                no_child_retry:
                  type: boolean
                  description: flag to avoid retrying child tasks. Default is False.
                resurrect_datasets:
                  type: boolean
                  description: Specifies whether to resurrect datasets when they were
                    already deleted. Default is False.
                force:
                  type: boolean
                  description: To force recovery even if there is no lost file. Default
                    is False.
                reproduce_parent:
                  type: boolean
                  description: 'Specifies whether to reproduce the parent task if
                    the input files that originally generated the lost files have
                    been deleted. Default: False.'
                reproduce_upto_nth_gen:
                  type: integer
                  description: Defines how many generations of parent tasks should
                    be reproduced. Default 0, meaning no parent tasks are reproduced.
                    When this is set to N>0, reproduce_parent is set to True automatically.
              required: []
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/file_server/upload_workflow_request:
    post:
      summary: Upload workflow request to the server.
      description: 'Uploads a workflow request to the server. The request can be processed
        synchronously or asynchronously. Requires a secure connection.


        '
      tags:
      - file_server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: string
                  description: workflow request data
                dry_run:
                  type: boolean
                  description: requests the workflow to be executed synchronously
                    in dry_run mode
                sync:
                  type: boolean
                  description: requests the workflow to be processed synchronously
              required:
              - data
              - dry_run
              - sync
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/file_server/upload_event_picking_request:
    post:
      summary: Upload event picking request to the server.
      description: 'Uploads an event picking request to the server. Requires a secure
        connection.


        '
      tags:
      - file_server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                run_event_list:
                  type: string
                  description: run and event list.
                data_type:
                  type: string
                  description: data type.
                stream_name:
                  type: string
                  description: stream name.
                dataset_name:
                  type: string
                  description: dataset name.
                ami_tag:
                  type: string
                  description: AMI tag.
                user_dataset_name:
                  type: string
                  description: user dataset name.
                locked_by:
                  type: string
                  description: locking agent.
                parameters:
                  type: string
                  description: parameters.
                input_file_list:
                  type: string
                  description: input file list.
                n_sites:
                  type: string
                  description: number of sites.
                user_task_name:
                  type: string
                  description: user task name.
                ei_api:
                  type: string
                  description: event index API.
                include_guids:
                  type: boolean
                  description: flag to indicate if GUIDs are included with the run-event
                    list
              required:
              - run_event_list
              - data_type
              - stream_name
              - dataset_name
              - ami_tag
              - user_dataset_name
              - locked_by
              - parameters
              - input_file_list
              - n_sites
              - user_task_name
              - ei_api
              - include_guids
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/harvester/update_workers:
    post:
      summary: Update workers.
      description: 'Update the details for a list of workers. Requires a secure connection.


        '
      tags:
      - harvester
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                harvester_id:
                  type: string
                  description: harvester id, e.g. `harvester_central_A`
                workers:
                  type: array
                  description: 'list of worker dictionaries that describe the fields
                    of a pandaserver/taskbuffer/WorkerSpec object.

                    ```

                    [{"workerID": 1, "batchID": 1, "queueName": "queue1", "status":
                    "running",

                    "computingSite": "site1", "nCore": 1, "nodeID": None,

                    "submitTime": "02-NOV-24 00:02:18", "startTime": "02-NOV-24 00:02:18",
                    "endTime": None,

                    "jobType": "managed", "resourceType": "SCORE", "nativeExitCode":
                    None, "nativeStatus": None,

                    "diagMessage": None, "nJobs": 1, "computingElement": "ce1", "syncLevel":
                    0,

                    "submissionHost": "submissionhost1", "harvesterHost": "harvesterhost1",

                    "errorCode": None, "minRamCount": 2000},...]

                    ```'
                  items:
                    type: object
              required:
              - harvester_id
              - workers
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/harvester/update_service_metrics:
    post:
      summary: Update harvester service metrics.
      description: 'Update the service metrics for a harvester instance. Requires
        a secure connection.


        '
      tags:
      - harvester
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                harvester_id:
                  type: string
                  description: harvester id, e.g. `harvester_central_A`
                metrics:
                  type: array
                  description: "list of triplets `[[host, timestamp, metric_dict],[host,\
                    \ timestamp, metric_dict]...]`. The metric dictionary is json\
                    \ encoded, as it is stored in the database like that.\n```\nharvester_host\
                    \ = \"harvester_host.cern.ch\"\ncreation_time = datetime.now().strftime(\"\
                    %Y-%m-%d %H:%M:%S.%f\")\nmetric = {\n    \"rss_mib\": 2737.36,\n\
                    \    \"memory_pc\": 39.19,\n    \"cpu_pc\": 15.23,\n    \"volume_data_pc\"\
                    : 20.0,\n    \"cert_lifetime\": {\n        \"/data/atlpan/proxy/x509up_u25606_prod\"\
                    : 81,\n        \"/data/atlpan/proxy/x509up_u25606_pilot\": 81,\n\
                    \        \"/cephfs/atlpan/harvester/proxy/x509up_u25606_prod\"\
                    : 96,\n        \"/cephfs/atlpan/harvester/proxy/x509up_u25606_pilot\"\
                    : 96,\n    },\n}\n\n# DBProxy expects the metrics in json format\
                    \ and stores them directly in the database\nmetrics = [[creation_time,\
                    \ harvester_host, json.dumps(metric)]]\n```"
                  items:
                    type: object
              required:
              - harvester_id
              - metrics
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/harvester/add_dialogs:
    post:
      summary: Add harvester dialog messages.
      description: 'Add messages for a harvester instance. Requires a secure connection.


        '
      tags:
      - harvester
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                harvester_id:
                  type: string
                  description: harvester id, e.g. `harvester_central_A`
                dialogs:
                  type: array
                  description: "list of dialog dictionaries, e.g.\n```\ndialogs =\
                    \ [{\n    \"diagID\": 1,\n    \"moduleName\": \"test_module\"\
                    ,\n    \"identifier\": \"test identifier\",\n    \"creationTime\"\
                    : datetime.now().strftime(\"%Y-%m-%d %H:%M:%S.%f\"),\n    \"messageLevel\"\
                    : \"INFO\",\n    \"diagMessage\": \"test message\",\n    },...]\n\
                    ```"
                  items:
                    type: object
              required:
              - harvester_id
              - dialogs
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/harvester/heartbeat:
    post:
      summary: Heartbeat for harvester.
      description: 'Send a heartbeat for harvester and optionally update the instance
        data. User and host are retrieved from the request object and updated in the
        database. Requires a secure connection.


        '
      tags:
      - harvester
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                harvester_id:
                  type: string
                  description: harvester id, e.g. `harvester_central_A`
                data:
                  type: string
                  description: 'metadata dictionary to be updated in the PanDA database,
                    e.g. `data = {"startTime": <start time>, "sw_version": <release
                    version>, "commit_stamp": <commit timestamp>}`'
              required:
              - harvester_id
              - data
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/harvester/get_current_worker_id:
    get:
      summary: Get the current worker ID.
      description: 'Retrieve the current worker ID. Requires a secure connection.


        '
      tags:
      - harvester
      parameters:
      - name: harvester_id
        in: query
        required: true
        type: string
        description: harvester id, e.g. `harvester_central_A`
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/harvester/get_worker_statistics:
    get:
      summary: Get worker statistics.
      description: 'Get statistics for all the workers managed across the Grid. Requires
        a secure connection.


        '
      tags:
      - harvester
      parameters: []
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/harvester/report_worker_statistics:
    post:
      summary: Report worker statistics.
      description: 'Report statistics for the workers managed by a harvester instance
        at a PanDA queue. Requires a secure connection.


        '
      tags:
      - harvester
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                harvester_id:
                  type: string
                  description: harvester id, e.g. `harvester_central_A`
                panda_queue:
                  type: string
                  description: Name of the PanDA queue, e.g. `CERN`.
                statistics:
                  type: string
                  description: 'JSON string containing a dictionary with the statistics
                    to be reported. It will be stored as a json in the database. E.g.

                    ```

                    json.dumps({"user": {"SCORE": {"running": 1, "submitted": 1}},
                    "managed": {"MCORE": {"running": 1, "submitted": 1}}})

                    ```'
              required:
              - harvester_id
              - panda_queue
              - statistics
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/harvester/acquire_commands:
    post:
      summary: Get harvester commands.
      description: 'Retrieves the commands for a specified harvester instance. Requires
        a secure connection and production role.


        '
      tags:
      - harvester
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                harvester_id:
                  type: string
                  description: harvester id, e.g. `harvester_central_A`
                n_commands:
                  type: integer
                  description: The number of commands to retrieve, e.g. `10`.
                timeout:
                  type: integer
                  description: The timeout value. Defaults to `30`.
              required:
              - harvester_id
              - n_commands
      responses:
        '200':
          description: Method called correctly
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates whether the request was successful (True)
                      or not (False)
                  message:
                    type: string
                    description: Message indicating the nature of the failure. Empty
                      or meaningless if the request was successful.
                  data:
                    type: object
                    description: The data returned if the operation is successful.
                      Null if it fails or the method does not generate return data.
                required:
                - success
                - message
                - data
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: You are calling an undefined method is not allowed for the
                  requested URL
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                example: Resource not found
        '500':
          description: INTERNAL SERVER ERROR
          content:
            text/plain:
              schema:
                type: string
                example: INTERNAL SERVER ERROR. The server encountered an internal
                  error and was unable to complete your request.
  /v1/harvester/acknowledge_commands:
    post:
      summary: Acknowledge harvester commands.
      description: 'Acknowledges the list of command IDs in the PanDA database. Requires
        a secure connection and production role.


        '
      tags:
      - harvester
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                command_ids:
                  type: array
                  description: A list of command IDs to acknowledge, e.g. `[1, 2,
                    3, 4,...]`.
                  items:
                    type: object
                timeout:
                  type: integer
                  description: The timeout value. Defaults to `30`.
[...]
